[Unit]
Description=RStudio Server
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
Environment="USER=ubuntu"
PIDFile=/var/run/rstudio-server.pid
User=ubuntu
ExecStart=/usr/lib/rstudio-server/bin/rserver
ExecStop=/usr/bin/killall -TERM rserver
KillMode=none
Restart=on-failure

[Install]
WantedBy=multi-user.target
